.report {
  width: 80%;
  /* background-color: white; */
  margin-inline: auto;
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.report h2 {
  margin-block: 2rem 1rem;
  text-align: left;
}

/* ===== REPORT FORM ===== */
.report-form {
  margin-bottom: 1rem;
}
.report-form__status {
  display: flex;
  align-items: center;
}
.report-form__captions {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.report-form__controlls {
  margin-left: auto;
  display: flex;
  gap: 1rem;
}

.report-form tbody {
  margin-inline: auto;
  background-color: #f1f3ff;
}
.report-form table {
  width: 100%;
  border-collapse: collapse;
}
.report-form__first-cell {
  display: flex;
  justify-content: space-between;
}
.report-form__first-cell input[id="reportee-name"] {
  width: 200px;
}
.report-form .status-report {
  color: red;
}
.report-form .status-ongoing {
  color: #f29339;
}
.report-form .status-resolved {
  color: green;
}
.report-form textarea {
  width: 100%;
  outline: none;
  padding: 2px;
}
.report-form textarea:disabled {
  color: black;
}
.report-form td {
  padding: 10px;
  border: 2px solid #000;
}

.report-form label {
  margin-right: 8px;
  font-weight: 500;
}
.report-form input {
  outline: none;
  border: none;
  padding: 2px;
}
.report-form input:disabled {
  color: black;
}

.report-form__location {
  display: flex;
}
.report-form__location input {
  flex: 1;
}
.report-form input[name="location"] {
  width: 70%;
}

.MUI-change-status-button-container {
  width: fit-content;
}
.MUI-change-status-button-container .status-report {
  background-color: red;
}
.MUI-change-status-button-container .status-ongoing {
  background-color: orange;
}
.MUI-change-status-button-container .status-resolved {
  background-color: green;
}

.report__title {
  margin-bottom: 2rem;
  text-align: center;
}

.report-form__media {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  flex: 1;
  justify-content: flex-start;
}
.report-form__media img,
.report-form__image-wrapper {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.report-form__actions {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.report__map {
  height: 500px;
  margin-top: 1rem;
  margin-inline: auto;
}
