.report {
  width: 80%;
  /* background-color: white; */
  margin-inline: auto;
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.report-form__captions {
  display: flex;
  align-items: center;
  gap: 5px;
}
.report-form__captions span {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: -0.5px;
}
.MUI-change-status-button-container {
  width: fit-content;
}
.MUI-change-status-button-container .status-report {
  background-color: red;
}
.MUI-change-status-button-container .status-ongoing {
  background-color: orange;
}
.MUI-change-status-button-container .status-resolved {
  background-color: green;
}

.report__title {
  margin-bottom: 2rem;
  text-align: center;
}

.report__media {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  flex: 1;
  justify-content: flex-start;
  background-color: white;
  padding: 1rem;
}
.report__media img,
.report__image-wrapper {
  width: 250px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.report__archive-btn {
  padding: 0 1rem;
  margin-block: 1rem;
}

.report__map {
  height: 500px;
  margin-top: 1rem;
  margin-inline: auto;
}
