/* --- Table Features --- */
.table-features {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table-features .table-dropdown {
  display: flex;
  background: #d9d9d9;
  border-radius: 10px;
  padding: 10px 20px;
  width: 300px;
  justify-content: center;
}

.table-features .table-dropdown .sort {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sort__text {
  font-weight: 800;
}

.select-custom {
  background: none;
  border: none;
  outline: none;
}