.crime-records {
  max-width: 1200px;
  margin: auto;
}

/* --- Table --- */
.crime-records__table table {
  border-collapse: collapse;
  /* margin-left: auto;
	margin-right: auto;
	margin-top: 20px; */
  font-size: 0.9em;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  margin: 20px auto;
}

.crime-records__table table thead tr {
  background: #1c274c;
  text-align: left;
  color: #fff;
}

.crime-records__table table thead th {
  padding-left: 2rem;
  height: 4rem;
  font-weight: 300;
}

.crime-records__table table tbody tr {
  height: 5rem;
}

.crime-records__table table tbody tr:nth-child(odd) {
  background: #f0f0f0;
}

.crime-records__table table tbody tr:nth-child(even) {
  background-color: #d9d9d9;
}

.crime-records__table table tbody tr:last-child {
  border-bottom: 3px solid #212d62;
}

.crime-records__table table tbody td {
  padding-left: 2rem;
  padding-bottom: 5px;
  font-weight: 400;
}

.crime-records__table table tbody td a {
  text-decoration: none;
  color: #000;
}

.crime-records__table table tbody td a:hover {
  text-decoration: underline;
}

.crime-records__table table tbody tr span {
  text-align: justify;
}

.crime-records__table table tbody .action button {
  background: none;
  border: 2.5px ridge #121e3a;
  margin-right: 5px;
  font-size: 0.95em;
  cursor: pointer;
  padding: 3px 6px;
  border-radius: 5px;
  transition: all 0.3s ease 0s;
}

.crime-records__table table tbody .action button:hover {
  transform: translateY(-3px);
}

.crime-records__table table tbody .action .view {
  background: #008000;
  color: #f0f0f0;
}

.crime-records__table table tbody .action .delete {
  background: #ff0000;
  color: #fff;
}

.crime-records__table table tbody .status {
  transform: rotate(-15deg);
}

.crime-records__table table tbody .status span {
  color: red;
  font-weight: 700;
  border: 4px solid red;
  padding: 1px 2px;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 0.8em;
}

/* --- Pagination --- */
.crime-records .pagination {
  text-align: center;
  margin: 20px;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.crime-records .pagination button {
  padding: 3px 20px;
  border-radius: 5px;
  border: none;
  background: #121e3a;
  color: #ffffff;
  font-size: 0.8em;
  font-weight: 400;
}

.crime-records .pagination button:hover {
  background: #1d3264;
  cursor: pointer;
}

.crime-records .pagination button:disabled {
  background-color: #d9d9d9;
  color: #000;
  cursor: pointer;
}

.crime-records .page-num {
  background: #911911;
  padding: 4px 14px;
  border-radius: 8px;
  color: #fff;
  font-size: 0.7em;
}

.crime-records__pagination {
  display: flex;
  justify-content: center;
}

/* --- Responsiveness --- */
@media screen and (max-width: 1100px) {
  .crime-records {
    padding: 15px;
  }
}

@media screen and (max-width: 560px) {
  .archives .archive-features .archive-dropdown {
    display: block;
    justify-content: start;
    border-radius: 5px;
  }
}

@media (max-width: 650px) {
  .crime-records__table table {
    width: 100%;
  }

  .crime-records__table table thead th {
    display: none;
  }

  .crime-records__table table tbody td {
    display: grid;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
  }

  .crime-records__table table tbody td:first-child {
    padding-top: 2rem;
  }

  .crime-records__table table tbody td:last-child {
    padding-bottom: 2rem;
  }

  .crime-records__table table tbody td::before {
    font-weight: 700;
    font-size: 1.2em;
    text-transform: capitalize;
  }

  .crime-records__table table tbody td:nth-of-type(1)::before {
    content: "crime";
  }

  .crime-records__table table tbody td:nth-of-type(2)::before {
    content: "offense type";
  }

  .crime-records__table table tbody td:nth-of-type(3)::before {
    content: "location";
  }

  .crime-records__table table tbody td:nth-of-type(4)::before {
    content: "date";
  }

  .crime-records__table table tbody td:nth-of-type(5)::before {
    content: "status";
  }

  .crime-records__table table tbody td:nth-of-type(6)::before {
    content: "action";
  }
}
