.banner {
  padding: 1rem 2rem;
  /* border: 1px solid black; */
  background-image: url("/images/BG.png");
  background-size: contain;
  border-bottom-left-radius: 45px;
  border-bottom-right-radius: 45px;
  margin-bottom: 1rem;
  margin-inline: 1rem;
}

.banner__upper {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

.banner__name {
  font-weight: 600;
  padding: 0.2rem 2rem;
  color: white;
}

.banner__name span {
  font-weight: 400;
}

.banner__title {
  width: fit-content;
  margin-inline: auto;
  border-inline: 5px solid #192346;
  padding-inline: 2rem;
  margin-bottom: 2.5rem;
  font-size: 2rem;
  border-radius: 15px;
}

.banner__menu-btn {
  width: 80px;
  display: none;
  cursor: pointer;
}

.banner__logo {
  margin-left: auto;
}

.banner__logo-img {
  width: 70px;
  vertical-align: middle;
  margin-right: 1rem;
}

.banner__text {
  font-size: 1.25rem;
  color: white;
}

/* image loader */
.loading {
  display: none;
}

.loaded {
  display: block;
}

/* loader */
.sign-in-loader,
.news-loader,
.admin-report-loader,
.global-loader,
.global-spinner,
.loader-overlay {
  position: fixed;
  inset: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.781);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.global-loader {
  background: none;
}
